# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/generated/
android/app/google-services.json
*.keystore
*.jks

# iOS/macOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GoogleService-Info.plist
macos/Flutter/Generated.xcconfig
macos/Flutter/ephemeral/

# Misc
.DS_Store
*.log
temp_ls.txt
temp_icons/
